.button {
    padding: 8px 16px;
    display: flex;
    /* gap: 8px; */
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: linear-gradient(90deg, rgb(127, 190, 241) 0%, rgb(58, 187, 172) 22%, rgb(111, 217, 238) 100%);
    color: white;
    outline: none;
    border: none;
    transition: all 4.2s ease-in ;
}
.button:active{
    background: white;
    color: #444;
}

.button_icon {
    padding: 8px;
}
.button:active .button_icon{
    color: #444;
}
.button_text {
    padding: 8px;
    text-transform: uppercase;
    letter-spacing: 4px;

}

.button:active .button_text{
    color: #444;
}

/*
    easy button style
*/
.easybtn{
    padding: 4px 12px;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 8px;
    box-shadow: 0px 0px 1px rgb(172, 172, 172);
}
.easybtn_container{

}
.easybtn_text{
    font-size: 14px;
    font-weight: 200;
    color: #696969;
}