@import url(./inputs.css);

.cards {
    /* padding: 24px; */
    display: flex;
    justify-content: center;
}

.cards_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
    grid-auto-rows: minmax(360px, 1fr);
    max-width: 1080px;
    width: 100%;
}

@media screen and (max-width: 1080px) {
    .cards_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
    }
}

@media screen and (max-width: 768px) {
    .cards_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }
}

.images-detail {
    display: block;
    max-height: calc(100vh - 88px);
}

.images-detail_container {
    display: flex;
    gap: 12px;
    height: 100%;

    @media screen and (max-width: 768px) {
        display: grid;
        grid-template-rows: 120px 4fr;
    }
}

.images-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 200px;
    overflow: auto;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: 768px) {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

}

.images-list_button,
.main-image_button {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    outline: none;
    z-index: 1;
    // display: none;
    @media screen and (max-width: 768px) {
        left: 0;
    }
}

.images-list_button:last-child {
    bottom: 0;
    @media screen and (max-width: 768px) {
        right: 0 !important;
        left: calc(100% - 42px);
        top: 30%;
    }
}

.images-list_container {
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    /* top: 100px; */
    @media screen and (max-width: 768px) {
        flex-direction: row;
        height: 100%;
        position: relative;
    }
}

.images-list_item {
    width: 200px;
    max-height: 232px;
    overflow: hidden;
    border: 1px solid #ccc;

    @media screen and (max-width: 768px) {
        height: 100%;
        width: auto;
    }
}

.images-list_item_img {
    width: 200px;

    /* max-height: 240px; */
    @media screen and (max-width: 768px) {
        height: 100%;
        width: auto;
    }
}

.images-list_button {
    cursor: pointer;
}

.main-image_wrap {
    position: relative;
    height: auto;

    @media screen and (max-width: 768px) {
        height: 320px;
        width: auto;
    }
}

.main-image_button {
    left: 0;
    top: calc(50% - 20px);
    cursor: pointer;
}

.main-image_button:last-child {
    left: calc(100% - 40px) !important;
}

.main-image_img {
    max-height: 100%;
    max-width: 100%;
    @media screen and (max-width: 768px) {
        height: 100%;
    }
}

.main-image_button {}

/*
    product-desc styles
*/

.product-desc {
    padding: 0px;
    max-width: 40vw;

    @media screen and (max-width: 768px) {
        max-width: 100%;
    }
}

.product-desc_herder {}

.product-desc_herder_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.product-desc_herder_title {
    font-weight: 500;
    background-color: burlywood;
    display: inline;
    height: auto;
    text-align: start;

    @media screen and (max-width: 768px) {
        font-size: 14px;
    }
}

.product-desc_raiting {
    display: flex;
    gap: 8px;
    align-items: center;
}

.product-desc_raiting_stars {
    display: flex;
    height: 15px;
}

.product-desc_raiting_star {
    font-size: 14px;
    line-height: 14px;
}

.product-desc_raiting_text {
    color: burlywood;
    text-align: start;

    @media screen and (max-width: 768px) {
        font-size: 12px;
    }
}

.product-desc_container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    padding-top: 12px;
}

.product-desc_title {
    font-size: 32px;
    font-weight: 600;
    text-align: start;

    @media screen and (max-width: 768px) {
        font-size: 18px;
    }
}

.product-desc_price {
    font-size: 24px;
    letter-spacing: 2px;

    @media screen and (max-width: 768px) {
        font-size: 13px;
    }
}

.product-desc_size_switcher {
    display: flex;
    align-items: center;
}

.product-desc_text {
    text-align: start;
    color: #888;
    font-size: 14px;
    @media screen and (max-width: 768px) {
        font-size: 13px;
    }
}

.product-viewed {
    display: flex;
    gap: 8px;
    align-items: center;
}

.product-viewed_icon {
    color: #888;
    line-height: 12px;
    @media screen and (max-width: 768px) {
        font-size: 13px;
    }
}

.product-viewed_count {
    color: #888;
    @media screen and (max-width: 768px) {
        font-size: 13px;
    }
}

.product-viewed_text {
    color: #888;
    margin-left: 12px;
    @media screen and (max-width: 768px) {
        font-size: 13px;
    }
}

.product-viewed_count_block {
    display: flex;
    align-items: center;
}

.product_properties {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.page-wrapper {
    // padding: 8px;
    padding-top: 68px;
    width: calc(100vw - 0px);
    height: calc(100vh - 0px);
    overflow: auto;
}