.form-page{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form-page_inp_groups{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.textedit{
    text-align: start;
    padding: 2px;
    // width: 320px;
}
.textedit_container{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.textedit_label{
    color: #333;
    font-weight: 500;
    font-size: 12px;
}
.textedit_input_wrap{
    display: flex;
    border: 1px solid #ccc;
    padding: 4px;
    padding-left: 8px;
    border-radius: 2px;
}
.textedit_input{
    border: none;
    outline: none;
    width: calc(100% - 40px);
    color: #333;
    font-size: 13px;
}
.textedit_input_icon{
    background-color: #333;
    width: 40px;
    height: 100%;
}
.textedit_input_icon_img{

}