.product-page {
    display: flex;
    justify-content: center;
    padding: 8px;
}

.product-page_container {
    display: grid;
    max-width: 1080px;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 12px;
}
@media screen and (max-width: 1080px) {
    .product-page_container {
        display: grid;
        grid-template-columns: 1fr;
        flex-wrap: wrap;
    }
}

.catalog-page{
    display: flex;
    justify-content: center;
    padding: 12px;
}
.catalog-page_container{
    max-width: 1080px;
    width: 100%;
    display: grid;
    gap: 2vw;
    grid-template-columns: 1fr 1fr 1fr;
    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
}