.shopnow_wrap {
    display: flex;
    gap: 16px;
    padding: 24px;
    flex-wrap: wrap;
    padding-top: 0;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.shopnow {
    min-height: 260px;
    padding: 24px;
    background: rgba(245, 244, 12, .2);
    min-width: 320px;
    width: calc(50% - 8px);
    position: relative;
    max-width: 680px;
}

.shopnow_container {
    display: flex;
    align-items: center;
    height: 100%;
}

.shopnow_content {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 2;
    gap: 16px;
}
@media screen and (max-width: 1080px) {
    .shopnow_wrap{
        flex-direction: column;
    }
    .shopnow{
        width: 100%;
    }
}

.shopnow_sibtitle {
    font-size: 18px;
    font-weight: 500;
}

.shopnow_title {
    font-size: 32px;
    text-align: start;
    text-wrap: nowrap;
    font-weight: 700;
}

.shopnow_button {}

.shopnow_img_wrap {
    position: absolute;
    right: 0;
    top: 0;
}

.shopnow_img {
    width: 260px;
    height: 260px;
}